<div class="search-container">
  <div #chatContainer class="chat-container">
    <div *ngFor="let response of chatResponses" class="message-wrapper">
      <div
        class="chat-message"
        [ngClass]="{ 'user-message': response.from === 'user', 'system-message': response.from !== 'user' }"
      >
        <div [innerHTML]="response.message"></div>
      </div>
    </div>    
  </div>

  <div class="input-box">
    <input
      type="text"
      [(ngModel)]="userInput"
      placeholder="Type a message"
      (keydown.enter)="getResponse()"
    />
    <button (click)="getResponse()">Send</button>
  </div>

  <div *ngIf="results && results.length">
    <ul>
      <li *ngFor="let result of results">
        <a [href]="result" target="_blank">{{ result }}</a>
      </li>
    </ul>
  </div>
</div>
